# Игнорировать скомпилированные файлы и объектники
*.exe
*.o
*.obj

# Игнорировать папки с сборкой
Debug/
Release/
x64/
.vs/
.metadata/.plugins/org.eclipse.core.resources/.projects/3_Phase_Bolt/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/3_Phase_Bolt/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/3_Phase_Bolt_Test/.indexes/bf/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/7.tree
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-3_Phase_Bolt.prefs
3_Phase_Bolt/.project
3_Phase_Bolt/3_Phase_Bolt/.mxproject
3_Phase_Bolt/3_Phase_Bolt/.cproject
3_Phase_Bolt/3_Phase_Bolt/.project
*.prefs
/3_Phase_Bolt/3_Phase_Bolt
/3_Phase_Bolt_Test/pc_control/reports
/3_Phase_Bolt_Test/.settings
.metadata/.plugins/org.eclipse.core.resources/.projects/3_Phase_Bolt_Test/.markers.snap
3_Phase_Bolt_Test/.settings/language.settings.xml
/.metadata/.plugins
/.metadata
/.metadata
3_Phase_Bolt_Test/Drivers/STM32G4xx_HAL_Driver/Inc/stm32g4xx_hal_adc.h
/3_Phase_Bolt_Test/Drivers
