# OpenOCD config for Nucleo-G474RE (ST-Link/V3)
source [find interface/stlink.cfg]
transport select hla_swd
source [find target/stm32g4x.cfg]

# Скорость SWD
adapter speed 4000

# Сбросить и остановить на ResetHandler
reset_config srst_only srst_nogate
init
reset halt
